@page
@model NeaguDenisa_Proiect.Pages.Documents.DetailsModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reviste</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1 class="titlu">Detalii revista</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Document.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Document.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Document.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Document.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Document.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Document.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Document.PublishingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Document.PublishingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Document.ID">Editeaza</a> |
    <a asp-page="./Index">Inapoi la lista</a>
</div>
