@page "/{id:int?}"
@model NeaguDenisa_Proiect.Pages.Documents.IndexModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reviste</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1 class="titlu">Reviste disponibile</h1>

<p>
    <a asp-page="Create">Adauga o noua revista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].PublishingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Publisher.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].DocumentCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DocumentD.Documents)
        {
            string selectedRow = "";
            if (item.ID == Model.DocumentID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                </td>
                <td>
                    @{
                        foreach (var category in item.DocumentCategories)
                        {
                            @category.Category.ID @: @category.Category.CategoryName <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
